<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal()">
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
      <ion-title>Reviews</ion-title>    
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let review of RetornoReviews.results">
    <ion-card-header>
      {{ review.author }}
    </ion-card-header>
    <ion-card-content>
       <p>{{ review.content }}</p>
    </ion-card-content>
  </ion-card> 

  <ion-card *ngIf="RetornoReviews === undefined || RetornoReviews.results.length === 0">
    <ion-card-header>
      Não há reviews para esse filme! :(
    </ion-card-header>
  </ion-card>  

</ion-content>