<ion-card class="container">
  <ion-card-content>
    
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-img [src]="ImagemPrincipal"></ion-img>
      </ion-col>
    </ion-row>

    <app-listagem-horizontal
      Titulo="Filmes bem avaliados"
      UrlBusca="'/movie/top_rated'"
      [QuantidadePorSlide]="6"
      [QuantidadeDeBuscas]="2" 
      [SizeColumn]="2"
      (Clicou)="clicouFilme($event)">
    </app-listagem-horizontal>    
    
    <app-listagem-horizontal
      Titulo="Séries no Ar"
      UrlBusca="'/tv/on_the_air'"
      [QuantidadePorSlide]="6"
      [QuantidadeDeBuscas]="2" 
      [SizeColumn]="2"
      (Clicou)="clicouSerie($event)">
    </app-listagem-horizontal>

  </ion-card-content>
</ion-card>
<div class="bg-fundo" [style.backgroundImage]="getbackgroundImage()"></div>
