<ion-card class="container">
  <ion-card-content>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-img [src]="Filme.poster_path"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        Lançamento: {{ Filme.release_date }}
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col>
        <p>{{ TextoExibir }}</p>
      </ion-col>
    </ion-row>
  
    <app-filme-similares [FilmeId]="Filme.id"></app-filme-similares>

  </ion-card-content>
</ion-card>

<app-filme-reviews [FilmeId]="Filme.id"></app-filme-reviews>
<app-filme-creditos [FilmeId]="Filme.id"></app-filme-creditos>
<app-filme-onde-assistir [FilmeId]="Filme.id" [FilmeNome]="Filme.title"></app-filme-onde-assistir>
<ion-badge [color]="getVoteAvarageColor()">{{ Filme.vote_average }}</ion-badge>
<div class="bg-fundo" [style.backgroundImage]="getbackgroundImage()"></div>