ion-card {
    width: 100%;
}

ion-card-title {
    text-align: center;    
}

img {
    margin-bottom: 10px;
}

p {
    text-indent: 50px;
    text-align: justify;
    text-justify: distribute;
    margin: 10px;
}