<ion-card>
  <ion-card-content>

    <ion-row>
      <ion-col size="8" offset="2">
        <img [src]="Filme.poster_path">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12">
            Lançamento: {{ Filme.release_date }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            Média de votos: {{ Filme.vote_average }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            Total de votos: {{ Filme.vote_count }}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <p>{{ Filme.overview }}</p>

    <app-filme-elenco-principal [FilmeId]="Filme.id"></app-filme-elenco-principal>
    <app-filme-onde-assistir [FilmeId]="Filme.id" [FilmeNome]="Filme.title"></app-filme-onde-assistir>
    <app-filme-reviews [FilmeId]="Filme.id"></app-filme-reviews>

  </ion-card-content>
</ion-card>

<div class="bg-fundo" [style.backgroundImage]="getbackgroundImage()"></div>