<ion-card>
  <ion-card-content>

    <img [src]="Filme.poster_path">

    <ion-row>
      <ion-col size="3" *ngFor="let genero of Filme.genres">
        <ion-badge color="primary">{{ genero.name }}</ion-badge>
      </ion-col>        
    </ion-row>

    <p>{{ Filme.overview }}</p>

    <app-filme-onde-assistir [FilmeId]="Filme.id" [FilmeNome]="Filme.title"></app-filme-onde-assistir>
    <app-filme-reviews [FilmeId]="Filme.id"></app-filme-reviews>
    <app-filme-creditos [FilmeId]="Filme.id"></app-filme-creditos>

  </ion-card-content>


</ion-card>