ion-buttons {
    width: 100%;
}

ion-back-button {
    position: absolute;
    right: 0;
    top: 0;
}
ion-row {
    margin-top: 0 !important;
}

ion-card {
    width: 100%;
    box-shadow: none; 
}

ion-item {
    border-color: transparent;
    box-shadow: none;
    border-style: unset;
}
ion-card-content {
    height: 100%;
    padding: 0;
}
img {
    border-radius: 5px;
}

ion-buttons {
    width: 100%;
}