<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal()">
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
      <ion-title>Disponível em</ion-title>    
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="WatchProviders && WatchProviders.rent">
    <ion-card-header>
      Para Alugar
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let provider of WatchProviders.rent">
            <img *ngIf="provider.url" [src]="provider.logo_path" (click)="openWithInAppBrowser(provider.url)">
            <img *ngIf="provider.url === undefined" [src]="provider.logo_path">
          <ion-label>{{ provider.provider_name }}</ion-label>
        </ion-item>
      </ion-list>  
    </ion-card-content>
  </ion-card>  

  <ion-card *ngIf="WatchProviders && WatchProviders.buy">
    <ion-card-header>
      Para Comprar
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let provider of WatchProviders.buy">
            <img [src]="provider.logo_path" (click)="openWithInAppBrowser(provider.url)">
            <ion-label>{{ provider.provider_name }}</ion-label>
        </ion-item>
      </ion-list>  
    </ion-card-content>
  </ion-card>  

  <ion-card *ngIf="WatchProviders && WatchProviders.flatrate">
    <ion-card-header>
      Para ver online
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let provider of WatchProviders.flatrate">
          <a *ngIf="provider.url !== undefined" [href]="provider.url">
            <img [src]="provider.logo_path">
          </a>
          <div *ngIf="provider.url === undefined" (click)="presentToast()">
            <img [src]="provider.logo_path">
          </div>
          <ion-label>{{ provider.provider_name }}</ion-label>
        </ion-item>
      </ion-list>  
    </ion-card-content>
  </ion-card>  

  <ion-card *ngIf="WatchProviders === undefined">
    <ion-card-header>
      Não há recomendações para esse filme! :(
    </ion-card-header>
  </ion-card>  
  
</ion-content>