<div class="container">
  <div class="title">Filmes bem avaliados</div>
  <ion-slides scrollX="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of MatrizDeFilmesBemAvaliados">
      <ion-row>
        <ion-col size="3" *ngFor="let filme of slide">
          <img [src]="filme.poster_path" [routerLink]="['filme-detalhe/' + filme.id]">
          <ion-badge [color]="getVoteAvarageColor(filme.vote_average)">{{ filme.vote_average }}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-slide>      
  </ion-slides>
</div>