<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Filmes</ion-title>
      <ion-button style="float: right;" [routerLink]="['filtro']">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let linha of MatrizDeFilmes">
      <ion-row>
        <ion-col size="4" *ngFor="let filme of linha">
          <ion-card-content>
            <img [src]="filme.poster_path" [routerLink]="['detalhe/' + filme.id]">
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Buscando mais filmes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>