<app-filme-filtro (FilmesEmmiter)="filtrar($event)" [Filmes]="FilmesMemoria"></app-filme-filtro>

<ion-list>
  <ion-item *ngFor="let filme of Filmes">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ filme.title }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="filme.poster_path" [routerLink]="['filme-detalhe/' + filme.id]">
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Buscando mais filmes...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>